.root {
  width: 800px;
  height: 120px;
  margin: 0 10px 40px;
  display: flex;
  flex-direction: column;
}

.refreshAnochor {
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  margin: 4px 0;
  color: #555555;
}

.swatchContainer {
  display: flex;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cellContainer {
  flex: 1;
  height: 100%;
}
